{% extends "network/layout.html" %}

{% block body %}

<h1>Posts from followed users</h1>
    {% for post in posts %}
        <div class="border post">
            <h5><a href = "{% url 'profile' post.author %}">{{post.author}}</a></h5>
            <p>{{post.body}}</p>
            <span id="timestamp">{{post.time_stamp}}</span><br>
            <span id="likes"><i class="fa fa-thumbs-up"></i> {{post.likes}}</span>
        </div>
    {%endfor%}
    <ul class="pagination">
        {% if posts.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if posts.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>


{% endblock %}