{% extends "network/layout.html" %}

{% block body %}

<h1>Posts from followed users</h1>
    {% for post in posts %}
    <div class="border rounded post">
        <h5><a href = "{% url 'profile' post.author %}">{{post.author}}</a></h5>
        <p class="post_body" id="body{{post.id}}">{{post.body}}</p>
        <div class="new_body" id="new_body{{post.id}}">
            <form>
                <textarea class="form-control" id="compose_body{{post.id}}" placeholder="Body"></textarea>
                <button id="save{{post.id}}" class="btn btn-primary">Save</button>
            </form>
        </div>
        <span id="timestamp">{{post.time_stamp}}</span><br>
        <i class="fa fa-thumbs-down" data-index={{post.id}} id="unlike"></i>
        <i class="fa fa-thumbs-up" data-index={{post.id}} id="like"></i>
        <span id="likes" data-index={{post.id}}>{{post.likes}}</span>
        {% if post.author == user %}
        <button class="btn btn-secondary" id={{post.id}} >Edit</button> 
        {% endif %}
    </div>
    {%endfor%}
    <ul class="pagination">
        {% if posts.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if posts.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>


{% endblock %}