{% extends "network/layout.html" %}

{% block body %}

<h1>All Posts</h1>
{{randomtext}}
    <form method="POST" action="new_post">
        {% csrf_token %}
        <div class="form-group border" id="new_post_div">
            <label for="new"><h3>New Post</h3></label>
            <textarea id="new_post" placeholder="New Post" name="new" class="form-control" rows="3"></textarea>
            <button type="submit" class="btn btn-primary" id="post_button">Post</button>
        </div>
    </form>

    {% for post in posts %}
        <div class="border post">
            <h5>{{post.author}}</h5>
            <p>{{post.body}}</p>
            <span id="timestamp">{{post.time_stamp}}</span><br>
            <span id="likes"><i class="fa fa-thumbs-up"></i> {{post.likes}}</span>
        </div>
    {%endfor%}
    <ul class="pagination">
        {% if posts.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if posts.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>


{% endblock %}