{% extends "network/layout.html" %}



{% block body %}

<h1>All Posts</h1>
    {% if user.is_authenticated %}
    <form method="POST" action="new_post">
        {% csrf_token %}
        <div class="form-group border" id="new_post_div">
            <label for="new"><h3>New Post</h3></label>
            <textarea id="new_post" placeholder="New Post" name="new" class="form-control" rows="3"></textarea>
            <button type="submit" class="btn btn-primary" id="post_button">Post</button>
        </div>
    </form>
    {% endif %}

    {% for post in posts %}
        <div class="border post">
            <h5><a href = "{% url 'profile' post.author %}">{{post.author}}</a></h5>
            <p class="post_body" id="body{{post.id}}">{{post.body}}</p>
            <div class="new_body" id="new_body{{post.id}}">
                <form>
                    <textarea class="form-control" id="compose_body{{post.id}}" placeholder="Body"></textarea>
                    <button id="save{{post.id}}">Save</button>
                </form>
            </div>
            <span id="timestamp">{{post.time_stamp}}</span><br>
            <form action="{% url 'like' post.id %}" method="post">
                {% csrf_token %}
                {{likers}}
                <button type="submit">
                    {% if user in likers %}
                    <i class="fa fa-thumbs-down" data-index={{post.id}}></i>
                    {% else %}
                    <i class="fa fa-thumbs-up" data-index={{post.id}}></i>
                    {% endif %} 
                </button>    
                <span id="likes" data-index={{post.id}}>{{post.likes}}</span>
            </form>
            {% if post.author == user %}
            <button class="btn btn-secondary" id={{post.id}} >Edit</button> 
            {% endif %}
        </div>
    {%endfor%}
    <ul class="pagination">
        {% if posts.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if posts.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
    


{% endblock %}